/* RESPONSIVE */
/* mobile */
@media (max-width: 500px) {
    header {
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;
      img {
        width: 60px;
      }
    }
  
    nav {
      width: 100%;
    
      .lista-nav {
        font-size: 0.8rem;
        padding: 0%;
      }
    }
  
    /* Main home */
    banner{
        h1 {
            font-size: 2rem;
          }
        
    }
    
    .banner p,
    .p {
      font-size: 1rem;
    }
  
    .pasos {
        
        margin: 15px;
    
        grid-template-areas: 
          "h1" 
          "h2" 
          "img1" 
          "text1" 
          "h22" 
          "img2" 
          "text2" 
          "h222" 
          "img3" 
          "text3";
          
        grid-template-columns: 100%;  
        grid-template-rows: 
          100px 80px 250px 150px 80px 200px 120px 80px 200px 150px; 
      
    }
    .titulo1,
    .p1,
    .p2,
    .p3 {
      font-size: 1.5rem;
    }
  
    .parrafo1,
    .parrafo2,
    .parrafo3 {
      font-size: 1rem;
      text-align: center;
      margin-left: 0%;
    }
  
    /* Main contacto */
    .sc {
      padding-top: 20px;
      padding-left: 15px;
      padding-right: 15px;
    }
  
    .ratio iframe {
      padding-bottom: 20px;
    }
  
    /* Ajuste de márgenes en móviles */
    .my-4 {
      margin: 1rem 0;
    }
  
    /* Ajustar márgenes y paddings */
    body {
      padding: 10px;
    }
  
    /* Main Requisitos */
    .lista-r {
      padding-left: 10px;
      font-size: 0.8rem;
    }
  
    .pr {
      font-size: 0.8rem;
    }
  
    .titulor {
      font-size: 1.5rem;
    }
  
    .subr {
      font-size: 1rem;
    }
  
    .requisitos {
      flex-direction: column;
      align-items: center;
    }
  
    .img-fluid {
      width: 100%;
      max-width: 100%;
      padding-right: 20px;
    }
  
    /* Main Nosotros */
    .h1n {
      font-size: 1.5rem;
    }
  
    .subn {
      padding-top: 20px;
      font-size: 1.5rem;
    }
  
    .subn3 {
      font-size: 1.5rem;
      padding-bottom: 20px;
    }
  
    .imgn3 {
      margin-left: 0;
      width: 100%;
    }
  
    .pn {
      padding-top: 15px;
      padding-left: 20px;
      padding-right: 15px;
      font-size: 1.2rem;
    }
  
    .pn3 {
      font-size: 1.2rem;
      padding-top: 10px;
    }
  
    /* Main Mascotas */
    .h1m {
      font-size: 2rem;
    }
  
    .li1,
    .li2,
    .li3 {
      padding-left: 0;
      text-align: center;
    }
  
    .perro1,
    .perro2,
    .gato1,
    .gato2 {
      max-width: 100%;
      margin: 10px 0;
    }
  
    .preguntar {
      padding-top: 15px;
      text-align: center;
    }
  
    .h1m,
    .pm,
    .gmm {
      font-size: 1.2rem;
    }
}